@import url(@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@import url(@import url('https://fonts.googleapis.com/css?family=Lato:400,700i');

// font-family: 'Lato', sans-serif;


body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.container {  
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
}
